.mousePoint {
    cursor: pointer;
}

.dropDownLink {
    color:#f8f7f7 !important;
    font-weight: 500;
}

.dropDownLink :hover {
    color:#F28123 !important;
}

.dropDownLink img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 20px;
}


.mobile_img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 20px;
}


.form_control {
    width: 50px;
   
}

.form_control2 {
    margin-bottom: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (max-width: 470px) {
   .mobile_a{
    font-size: 30px !important;
   }
   }

